<!DOCTYPE html>
<html lang="en">

<head>
    <title>satori.space</title>


    <%- include('header') %>


   


</head>

<body>
    
    <%- include('postFeed') %>

  

    <%- include('sidebar') %>
   

</body>

</html>