<!DOCTYPE html>
<html lang="en">

<head>
    <title>azodu</title>


    <%- include('includes/header') %>


   


    
    <%- include('includes/postFeed') %>

  

    <%- include('includes/sidebar', { category: category || null }) %>
   

</body>

</html>