<!DOCTYPE html>
<html lang="en">

<head>
    <title>thunk.space</title>


    <%- include('includes/header') %>


   


    
    <%- include('includes/postFeed') %>

  

    <%- include('includes/sidebar') %>
   

</body>

</html>