<!DOCTYPE html>
<html lang="en">

<head>
    <title>satori.space</title>


    <%- include('includes/header') %>


   


</head>

<body>
    
    <%- include('includes/postFeed') %>

  

    <%- include('includes/sidebar') %>
   

</body>

</html>