<!DOCTYPE html>
<html lang="en">

<head>
    <title>Azodu - The AI-moderated discussion platform</title>
    <meta name="description" content="Azodu is an AI-powered discussion platform. All posts are moderated by AI.">


    <%- include('includes/header') %>


   


    
    <%- include('includes/postFeed') %>

  

    <%- include('includes/sidebar', { category: category || null }) %>
   

</body>

</html>