<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>satori.space</title>
  <%- include('includes/header') %>



  <script>
    function togglePostContentField() {
      var postType = document.getElementById('postType').value;
      if (postType === 'text') {
        document.getElementById('textContent').style.display = '';
        document.getElementById('urlContent').style.display = 'none';
      } else {
        document.getElementById('textContent').style.display = 'none';
        document.getElementById('urlContent').style.display = '';
      }
    }


    $(document).ready(function () {
      // Fetch and display categories in the select dropdown
      function fetchAndPopulateCategories() {
        $.ajax({
          url: '/api/categories',
          type: 'GET',
          success: function (categories) {
            const $categorySelect = $('#category');
            $categorySelect.empty(); // Clear existing options

            categories.forEach(function (category) {
              // Append category as an option
              // Use the permalink as the value to be submitted with the form
              const option = $('<option></option>').val(category.permalink).text(category.name);
              $categorySelect.append(option);
            });
          },
          error: function (error) {
            console.error('Failed to fetch categories:', error);
          }
        });
      }



      // Load categories when the document is ready
      fetchAndPopulateCategories();
    });



  </script>


</head>

<body id="submit_post_page">
  <div class="container">

    <a href="/"><img id="logo_satori1" src="branding/satori3.png" /></a>



    <div class="submission-form">
      <form action="/submitPost" method="POST">

        <h2>Submit a new post</h2>

        <label for="postType">Post type:</label>
        <select id="postType" name="postType" onchange="togglePostContentField()">
          <option value="text">Text</option>
          <option value="url">URL</option>
        </select>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
          <option value="">Select a category...</option>
          <!-- Options will be added here by the JavaScript -->
        </select>



        <label for="postTitle">Title:</label>
        <input type="text" id="postTitle" name="title" placeholder="Enter post title" required>


        <div id="submit_post_text" class="contentField">
          <textarea id="postContentText" name="contentText" placeholder="Enter text (optional)"></textarea>

        </div>

        <div id="urlContent" class="contentField" style="display: none;">
          <label for="postContentUrl">URL:</label>
          <input type="url" id="postContentUrl" name="contentUrl" placeholder="Enter URL (optional)">
        </div>

        <input type="hidden" id="quillContentText" name="contentText">

        <button type="submit">Submit</button>

      </form>
    </div>






  </div>


  <div id="sidebar_container">

  <div class="sidebar">



  </div>
</div>

  <script>
    var quill = new Quill('#submit_post_text', {
      modules: {
        toolbar: [
          ['bold', 'italic', 'underline', 'strike', 'blockquote'], // grouped buttons
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          ['link'] // links and image embed buttons
        ]
      },
      theme: 'snow',
      placeholder: 'Enter text (optional)',
    });


    document.querySelector('form').addEventListener('submit', function (e) {
      var html = quill.root.innerHTML;
      console.log(html); // Debug: what does Quill give us at this point?
      document.getElementById('quillContentText').value = html;
    });



  </script>

</body>

</html>