<!DOCTYPE html>
<html lang="en">

<head>

    <title>Azodu - Create a category</title>

    <%- include('includes/header') %>


        <script>
            function generateCategoryPermalink() {
                const title = document.getElementById('suggestedPermalink').value;
                const basePath = "";
                const cleanedTitle = title
                    .replace(/[^\w\s]/gi, '') // Remove non-alphanumeric characters except spaces
                    .trim() // Remove leading and trailing spaces
                    .replace(/\s+/g, '-') // Replace spaces with hyphens
                    .toLowerCase(); // Convert to lowercase

                const truncatedTitle = cleanedTitle.substring(0, 147); // Truncate to 147 characters to leave room for "/c/"
                const permalink = basePath + truncatedTitle;

                document.getElementById('displayPermalink').textContent = `azodu.com/c/${permalink}`;
                // Update hidden input to send to server
                document.getElementById('finalPermalink').value = permalink;
            }
        </script>

        <div class="container submitCategoryPage">
            <div class="submission-form">
                <form id="submit_category_form" action="/submitCategory" method="POST">
                    <h2>Create a new category</h2>

                    <input type="text" id="categoryName" name="name" placeholder="Enter category name" required>

                    <input type="text" id="suggestedPermalink" name="suggestedPermalink" placeholder="Enter a link"
                        oninput="generateCategoryPermalink()" required>

                    <p id="displayPermalink">azodu.com/c/</p>
                    <input type="hidden" id="finalPermalink" name="permalink">

                    <div id="categoryDescription" class="contentField">
                        <textarea id="categoryDescText" name="description"
                            placeholder="Describe the category (will appear in the sidebar)"></textarea>
                    </div>

                    <!--
            <label for="categoryModerators">Moderators:</label>
            <input type="text" id="categoryModerators" name="moderators" placeholder="Enter moderator usernames, separated by commas">
            -->
                    <button type="submit" id="create_category_submit_button">Create Category</button>
                </form>
            </div>
            <div id="category_submit_info">
                <h3 style="margin-top:0;">No-frills community building</h3>
                <ul>
                    <li>Sit back and let the AI moderate!</li>
                    <li>The AI rejects content that isn't relevant to the description you provide.</li>

                    <li>Your username gets a unique <span class="cat_creator">color</span> in comments.</li>

                    <li>Your username appears as the creator in the sidebar.</li>


                </ul>
            </div>
        </div>


        <%- include('includes/sidebar', { category: category || null }) %>
        <script>
            new Quill('#categoryDescription', {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],        // formatting options
                        [{ 'list': 'ordered' }, { 'list': 'bullet' }],    // lists
                        ['link']                                          // links
                    ]
                },
                theme: 'snow', // Specify theme in configuration
                placeholder: 'Describe the category (will appear in the sidebar)',
            });

            $(document).ready(function () {
                $('#submit_category_form').on('submit', function (e) {
                    e.preventDefault(); // Prevent default form submission

                    $('button[type="submit"]').prop('disabled', true).text('Submitting...');


                    // Retrieve values from form elements using jQuery
                    const name = $('#categoryName').val();
                    const permalinkFromClient = $('#finalPermalink').val();
                    const description = $('.ql-editor').html(); // Assuming you're using Quill for the description

                    // Prepare data to be sent
                    const formData = {
                        name,
                        permalinkFromClient,
                        description
                    };

                    // Retrieve the authToken from local storage
                    const authToken = localStorage.getItem('authToken');

                    // Use fetch API to submit the form data along with the authToken in the header
                    fetch('/submitCategory', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${authToken}` // Include the auth token in the request headers
                        },
                        body: JSON.stringify(formData) // Convert formData object to JSON string
                    })
                        .then(response => response.json()) // First, parse JSON response
                        .then(data => {
                            if (data.message) {

                                if (!data.error) {
                                $('button[type="submit"]').text('Success!');

                                } else {
                                    
                                $('button[type="submit"]').prop('disabled', false).text('Submit');


                                }

                                // Check if there is a message property in the response data
                                showNotification(data.message, data.error ? 'error' : 'success', 3000, () => {
                                    if (!data.error) {
                                        // Redirect only on success
                                        window.location.href = "/";
                                    }
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            showNotification('There was an error processing your request.', 'error', 3000);
                            $('button[type="submit"]').prop('disabled', false).text('Submit');

                        });
                });
            });



        </script>
        </body>

</html>