<div class="container">
    <div class="sort-container_new">
        <ul id="sort-by">
            <li><a href="#" data-sort="top">Top</a></li>
            <li><a href="#" data-sort="new" class="selected">Latest</a></li>
            <li><a href="#" data-sort="hot">Hot</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        const totalNumberOfPosts = 400; // Max posts to generate
        const postsToShowInitially = 25; // Posts to show initially and on each scroll
        let lastPostId = null; // Keeps track of the last post ID fetched
        let isFetching = false;
        var currentPage = 1; // Initialize current page
        var postsShown = 0;

        function generatePostHtml(post) {
            const postTitleHref = post.post_type === 'url' ? post.content : post.permalink;
            let contentDisplay = post.post_type === 'url' && post.ai_summary ?
                `<div style="display:none;" class="post-text">${post.ai_summary}<span class="ai_summary_heading">AI-generated summary</span></div>` :
                `<div style="display:none;" class="post-text">${post.content}</div>`;

            const link = post.post_type === 'url' ?
                `<a href="${postTitleHref}" class="post-title single-line" target="_blank">${post.title}<i class="fas fa-external-link-alt"></i></a><i class="fas fa-plus open-content" style="float:left;"></i>` :
                `<a href="${postTitleHref}" class="post-title single-line">${post.title}</a><i class="fas fa-plus open-content" style="float:left;"></i>`;

            const thumbnailHtml = post.thumbnail ? `<img src="${post.thumbnail}" alt="Post Thumbnail">` : `<i class="fas fa-${post.post_type === 'url' ? 'link' : 'pencil-alt'}"></i>`;

            return `
<div class="post" data-postId="${post.post_id}" data-postcat="${post.category}">
    <div class="post-left">
        <div class="voting">
            <a title="upvote" description="upvote" href="#" class="upvote" data-postid="${post.post_id}">
                <img src="/img/up-arrow.svg" alt="Upvote">
            </a>
            <span class="votes">${post.upvotes - post.downvotes}</span>
            <a title="downvote" description="downvote" href="#" class="downvote" data-postid="${post.post_id}">
                <img src="/img/down-arrow.svg" alt="Downvote">
            </a>
        </div>
        <div class="thumbnail">${thumbnailHtml}</div>
    </div>
    <div class="post-content">
        ${link}
        <p class="post-submitted">submitted ${timeAgo(post.timestamp)} by <a href="/u/${post.author}">${post.author}</a> to <a href="/c/${post.category}">${post.category}</a></p>
        <div class="post-links">
            <a href="${post.permalink}">${post.comment_count} comments</a>
            <a href="#" class="save_post">save</a>
        </div>
        ${contentDisplay}
    </div>
    <i class="fas fa-cog admin-actions-gear admin-ui" style="float:right; cursor:pointer;" data-postid="${post.post_id}"></i>
</div>`;
        }

        function renderPosts(posts) {
            const postsHtml = posts.map(generatePostHtml).join('');
            $('.container').append(postsHtml);
        }

        function fetchAndDisplayPosts() {
            if (isFetching) return;
            isFetching = true;
            const cat = getCategoryFromCurrentUrl();
            const url = lastPostId ? `/api/posts?startPostId=${lastPostId}&category=${cat}` : `/api/posts?category=${cat}`;

            $.ajax({
                url: url,
                type: 'GET',
                success: function (posts) {
                    console.log(posts);
                    isFetching = false;
                    if (posts.length > 0) {
                        lastPostId = posts[posts.length - 1].post_id;
                        if (currentPage > 1) {
                            const pageDividerHtml = `<div style="clear:both;"></div><div class="page-divider">Page ${currentPage}</div>`;
                            $('.container').append(pageDividerHtml);
                        }
                        currentPage++;
                        renderPosts(posts);
                    }
                },
                error: function (error) {
                    console.error('Failed to fetch posts:', error);
                }
            });
        }

        function getCategoryFromCurrentUrl() {
            const pathSegments = window.location.pathname.split('/').filter(Boolean);
            const cIndex = pathSegments.findIndex(segment => segment === 'c');
            return cIndex !== -1 && cIndex + 1 < pathSegments.length ? pathSegments[cIndex + 1] : null;
        }

        $('.container').on('click', '.save_post', function (event) {
            // Save post logic goes here...
        });

        // Initially load the default number of posts
        fetchAndDisplayPosts();



        // JavaScript for toggling the display of the content
        $('.container').on('click', '.open-content', function () {
            // Toggle the icon class between fa-plus and fa-minus
            $(this).toggleClass('fa-plus fa-minus');
            // Toggle the display of the content or iframe
            $(this).closest('.post').find('.post-iframe, .post-text').slideToggle(0);
        });



        function generateLoremIpsum(wordCount) {
            const words = ["lorem", "ipsum", "dolor", "sit", "amet", "consectetur", "adipiscing", "elit", "sed", "do", "eiusmod", "tempor", "incididunt", "ut", "labore", "et", "dolore", "magna", "aliqua"];
            let result = "";
            for (let i = 0; i < wordCount; i++) {
                result += words[Math.floor(Math.random() * words.length)] + " ";
            }
            return result.trim();
        }


        function showSkeletonPosts(numberOfSkeletons) {
            let skeletonHTML = '';
            for (let i = 0; i < numberOfSkeletons; i++) {
                skeletonHTML += `
    <div class="post skeleton">
        <div class="voting">
            <div class="skeleton-loader" style="height: 56px; width: 18px;"></div>
        </div>
        <div class="thumbnail skeleton-loader"></div>
        <div class="content">
            <div class="post-title skeleton-loader" style="height: 20px; margin: 10px 0;"></div>
            <div class="post-description skeleton-loader" style="height: 10px; width: 80%;"></div>
            <div class="post-links">
                <div class="skeleton-loader" style="height: 10px; width: 30%; margin: 5px 0;"></div>
            </div>
        </div>
    </div>`;
            }
            $('.container').append(skeletonHTML);
        }



        // Function to check if we're near the bottom of the page
        function nearBottomOfPage() {
            return $(window).scrollTop() + $(window).height() > $(document).height() - 100;
        }

        // Lazy load more posts as the user scrolls down
        $(window).scroll(function () {
            if (nearBottomOfPage() && postsShown < totalNumberOfPosts) {
                fetchAndDisplayPosts();
            }
        });

        $('#showMoreBtn').click(function () {
            $('.hidden').removeClass('hidden');
            $(this).hide();
        });



        $('.container').on('click', '.upvote, .downvote', function (event) {
            event.preventDefault();

            const $this = $(this);
            const $post = $this.closest('.post');
            const isUpvote = $this.hasClass('upvote');
            let voteState = $post.data('voteState') || 'none'; // Get current vote state: 'up', 'down', or 'none'

            // Determine new vote state based on current state and action
            let newVoteState = 'none';
            if (isUpvote && voteState !== 'up') {
                newVoteState = 'up';
            } else if (!isUpvote && voteState !== 'down') {
                newVoteState = 'down';
            }
            // Update the post's vote state data attribute
            $post.data('voteState', newVoteState);

            // Find the current vote count
            const $voteCountSpan = $this.siblings('.votes');
            let currentCount = parseInt($voteCountSpan.text(), 10);

            // Adjust the vote count based on the new vote state
            if (newVoteState === 'up') {
                if (voteState === 'down') currentCount += 2; // Switching from downvote to upvote
                else currentCount += 1; // Was 'none', now 'up'
            } else if (newVoteState === 'down') {
                if (voteState === 'up') currentCount -= 2; // Switching from upvote to downvote
                else currentCount -= 1; // Was 'none', now 'down'
            } else {
                // User is "unvoting", adjust count back to neutral
                currentCount += voteState === 'up' ? -1 : 1;
            }

            // Update the .votes span with the new count
            $voteCountSpan.text(currentCount);

            // Adjust visual state for buttons
            $post.find('.upvote, .downvote').removeClass('upvote-active downvote-active');
            if (newVoteState === 'up') {
                $this.addClass('upvote-active');
            } else if (newVoteState === 'down') {
                $this.addClass('downvote-active');
            }
            // Continue with your AJAX request to update the server
            $.ajax({
                url: `/api/vote/`,
                type: 'POST',
                data: {
                    upvote: isUpvote,
                    post_id: $this.data('postid')
                },
                success: function (response) {
                    console.log('Vote recorded successfully.');
                    // You might still want to log the success or handle any sync issues here
                },
                error: function (error) {
                    console.error('Failed to record vote:', error);
                    // Since we're optimistically updating the UI, consider how to handle errors
                }
            });







        });



        // Handler for "save" button click
        $('.container').on('click', '.save_post', function (event) {
            event.preventDefault(); // Prevent default action

            // Retrieve the username from localStorage
            const username = localStorage.getItem('username');
            if (!username) {
                console.error('User is not logged in.');
                return; // Exit if no user is logged in
            }

            // Get the post ID from the closest .post element
            const $post = $(this).closest('.post');
            const postId = $post.data('postid');
            const cat = $post.data('postcat');
            const authToken = localStorage.getItem('authToken'); // Assuming the auth token is saved in localStorage
            // Make an AJAX request to save the post
            $.ajax({
                url: '/api/savePost', // Endpoint for saving a post
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    'Authorization': `Bearer ${authToken}` // Use the authToken for authorization
                },
                data: JSON.stringify({ postId: postId, category: cat }), // Send the postId in the request body
                success: function (response) {
                    console.log('Post saved successfully:', response);
                    alert('Post saved successfully!');
                },
                error: function (xhr, status, error) {
                    console.error('Failed to save post:', error);
                    alert('Failed to save post. Please try again.');
                }
            });
        });



        function pinPost(category, post_id) {
            // Retrieve the authToken stored in localStorage
            const authToken = localStorage.getItem('authToken');
            if (!authToken) {
                console.error('User is not logged in or authToken is missing.');
                return;
            }

            // Make a POST request to the pinPost API endpoint
            fetch('/api/pinPost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${authToken}` // Use the authToken for authentication
                },
                body: JSON.stringify({ category, post_id }) // Send category and post_id in the request body
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Parse the JSON response body
                })
                .then(data => console.log(data)) // Log the response data
                .catch(error => console.error('Error pinning post:', error)); // Log any errors
        }


    });


</script>