<div id="userDisplay" style="display: none;"></div>
<div id="sidebar_container">
    <div class="sidebar">

        <button id="loginRegisterButton" class="sidebar_button">Login/Register</button>
        <div id="loginRegisterForm" class="lightbox" style="display: none;">
            <div class="lightbox-content">
                <h2 id="formTitle">Login</h2>
                <form id="authForm">
                    <input type="text" id="username" placeholder="Username" required>
                    <input type="password" id="password" placeholder="Password" required>
                    <input type="submit" id="submitAuth" value="Login">
                    <div id="formMessage" style="color: #d7dadc; margin-top: 10px;"></div> <!-- Message placeholder -->
                    <p id="switchAuthMode">Don't have an account? <a href="#" id="switchForm">Register here.</a></p>
                </form>
            </div>
        </div>



        <a href="/submit-post" style="margin-bottom: 20px; display: block;"><button class="sidebar_button"
                type="button">Submit a post</button></a>

        <a href="/submit-category"><button class="sidebar_button" type="button">Submit a category</button></a>

        <!--
    <p style="margin-top:0;">Register an account</p>
    <form class="login-form">
        <input type="text" id="username" placeholder="username" required>
        <input type="password" id="password" placeholder="password" required>
        <input type="submit" value="Login">
    </form>
    <ul>
        <li class="earn-voc">Earn $VOC</li>
        <li class="censorship">Censorship resistant</li>
        <li class="bot-proof">Bot-proof</li>
    </ul>

-->


    </div>

    <div id="explore_sidebar">

        <div id="rights"><i class="fas fa-scroll"></i><span id="rights_span"><a href="#">Our Commitment</a></span>
        </div>
        <div id="rules"><i class="fas fa-gavel"></i><span id="rules_span"><a href="#">The Rules</a></span>
        </div>



        <h3 id="explore_heading">Spaces</h3>
        <ul class="community-links">


        </ul>
        <a href="#" class="show-more" id="showMoreBtn">Show more ...</a>

    </div>




</div>


<script>

    $(document).ready(function () {

        function fetchAndDisplayCategories() {
            $.ajax({
                url: '/api/categories',
                type: 'GET',
                success: function (categories) {
                    console.log(categories);
                    const $communityLinks = $('.community-links');
                    $communityLinks.empty(); // Clear existing categories
                    categories.forEach(function (category) {
                        // Assuming 'name' and 'permalink' are properties of the category
                        const categoryLink = `<li><a href="/c/${category.permalink}">/c/${category.permalink}</a></li>`;
                        $communityLinks.append(categoryLink);
                    });
                },
                error: function (error) {
                    console.error('Failed to fetch categories:', error);
                }
            });
        }

        fetchAndDisplayCategories();

    });

</script>